@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
html {
    background: linear-gradient(128deg, #380036, #5d4257, #28313b, #485461, #2a5470, #4c4177, #5e5c5c, #5d4954, #637081, #2c3e50, #000000);
    background-size: 4000% 4000%;
    font-family: 'Zeyada', cursive;
    -webkit-animation: hehe 30s ease-in-out infinite;
    -moz-animation: hehe 30s ease-in-out infinite;
    animation: hehe 30s ease-in-out infinite;
    text-align: left;
    font-size: 10px;
}

@-webkit-keyframes hehe {
    0% {
        background-position: 4% 0%
    }

    50% {
        background-position: 97% 100%
    }

    100% {
        background-position: 4% 0%
    }
}

@-moz-keyframes hehe {
    0% {
        background-position: 4% 0%
    }

    50% {
        background-position: 97% 100%
    }

    100% {
        background-position: 4% 0%
    }
}

@keyframes hehe {
    0% {
        background-position: 4% 0%
    }

    50% {
        background-position: 97% 100%
    }

    100% {
        background-position: 4% 0%
    }
}

h3 {
    text-decoration: none;
    background: #12C2E9;
    background: linear-gradient(to right, #12C2E9 0%, #C471ED 50%, #f64f59 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
    font-size: 2rem;
}
h1 {
    font-size: 5rem;
    text-transform: uppercase;
    background: #12C2E9;
    background: linear-gradient(to right, #12C2E9 0%, #C471ED 50%, #f64f59 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 0;
}

p {
    background: #12C2E9;
    background: linear-gradient(to right, #12C2E9 0%, #C471ED 50%, #f64f59 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    font-size: 3rem;
    padding-top: 0;
}

li {
    padding: 5px;
}
