html,
body {
  margin: 0;
}

.container {
  position: absolute;
  bottom: 20px;
  left: 5%;
}

/* Style for the toolbar */
.toolbar {
  position: relative;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s;
}

.toolbar:hover {
  transform: translateX(-50%) scale(1.1);
}

.toolbar > .fa-cog {
  color: #fff;
  font-size: 20px;
}

.toolbar.active {
  transform: translateX(-50%) rotate(180deg);
}

.item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #333;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.item > .fas {
  color: #fff;
}

.items {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0px;
  overflow: visible;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.items.active {
  opacity: 1;
  visibility: visible;
}

.items .item {
  transition: transform 0.5s;
}

.items.active .item:nth-child(1) {
  transition-delay: 0s;
}

.items.active .item:nth-child(2) {
  transition-delay: 0.1s;
}

.items.active .item:nth-child(3) {
  transition-delay: 0.2s;
}

.items.active .item:nth-child(4) {
  transition-delay: 0.3s;
}

.items.active .item:nth-child(5) {
  transition-delay: 0.4s;
}

.items.active .item:nth-child(6) {
  transition-delay: 0.5s;
}

.items.active .item:nth-child(7) {
  transition-delay: 0.6s;
}

.items.active .item:nth-child(8) {
  transition-delay: 0.7s;
}

.items.active .item {
  transform: translateY(-200%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon-container {
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}

.icon-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#rangeInputContainer {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.icon-container.active {
  background-image: linear-gradient(var(--angle, 0deg), #743ad5, #d53a9d);
  animation: rotate 5s linear infinite, pulse 0.2s linear;
}

.pencill.active {
  color: white;
}

.markerr.active {
  color: white;
}

.penn.active {
  color: white;
}

.brushh.active {
  color: white;
}

.color-palette {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.color-picker {
  border: none;
  width: 100%;
  height: 2rem;
  width: 3rem;
}

.gradient-switch-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-switch-label {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.color-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

label {
  margin-right: 0.7rem;
}

#notification {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.canva {
  border: 2px solid black;
  position: absolute;
  left: 15%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dimensions-container {
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: min-content;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.dimensions-label {
  padding-right: 0.7rem;
}

.dimensions-label:nth-of-type(2) {
  padding-left: 0.7rem;
}

.dimensions-input {
    max-width: 2rem;
    outline: none;
    font-weight: 600;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 9px;
    position: relative;
}

.dimensions-input:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    border-bottom-color: #0078d4;
    transition: all 0.3s ease-in-out;
}

.dimensions-input:focus {
    outline: none;
}

.dimensions-input:focus:after {
    width: 100%;
    left: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
