html {
  font-family: sans-serif;
  background: #607274;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: #EADBC8;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(178, 165, 155, 0.3);
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #E5D3BF;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}
